@import url(https://fonts.googleapis.com/css?family=Montserrat);
body {
  padding: 0;
  margin: 0;
  color: rgb(70, 60, 60);
  font-family: Montserrat;
  background-image: url("assets/memphis-mini.png");
  background-attachment: fixed;
  --theme-colour: rgb(255, 216, 164);
  --secondary-theme-colour: rgb(255, 231, 199);
  border: 1px var(--secondary-theme-colour) solid;
}

html {
  font-size: 1vw;
  overflow-x: hidden
}

#first {
  height: 100vh;
  width: 100vw;
  align-content: center;
  display: grid;
  grid-template-columns: 35vw 62vw;
  grid-template-rows: 60vh;
}

#one {
  grid-row: 1 / 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

#two {
  min-height: 370px;
  background-color: var(--theme-colour);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 40px;
  box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
  transform: translatey(0px);
  animation: float 3s ease-in-out infinite;
}

#heading {
  background-color: var(--secondary-theme-colour);
  border-radius: 20px;
  padding: 3%;
}

#name {
  font-size: 3em;
}

#sub-name {
  display: flex;
  justify-content: center;
  font-size: 1.5em;
  margin-top: 3%;
}

#icons {
  display: flex;
  justify-content: center;
}

#icons img {
  box-shadow: 0 4px 8px 0 rgba(102, 102, 102, 0.2), 0 6px 20px 0 rgba(102, 102, 102, 0.2);
  border-radius: 50%;
  max-width: 60%;
  position: relative;
  top: 0;
  transition: top ease 0.5s;
}

#icons img:hover {
  top: -10px;
}

a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  margin: 0;
  padding: 0;
}

#profilePic {
  border: 5px var(--secondary-theme-colour) solid;
  border-radius: 50%;
  box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
  transform: translatey(0px);
  animation: float 3s ease-in-out infinite;
  max-width: 80%;
}

#about-me {
  display: flex;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: space-evenly;
}

#introduction {
  max-width: 35%;
  height: 32vw;
  background-color: var(--theme-colour);
  border-radius: 7%;
  box-shadow: 0 4px 8px 0 rgba(102, 102, 102, 0.2), 0 6px 20px 0 rgba(102, 102, 102, 0.2);
  padding-left: 2%;
  padding-right: 2%;
}

#introduction h1 {
  text-align: center;
}

#introduction div {
  padding: 2%;
  text-align: justify;
  background-color: var(--secondary-theme-colour);
  border-radius: 10px;
}

#about-me img {
  max-width: 40%;
}

#qualities {
  background-color: var(--secondary-theme-colour);
  border-radius: 10px;
  padding: 2%;
  list-style-position: inside;
}

#qualities li {
  margin-bottom: 2%;
}

#contact {
  /* background-color: var(--theme-colour); */
  max-width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 7%;
  padding-bottom: 1.5%;
  margin-right: 0.5%;
}

#contact img {
  border-radius: 100%;
  max-width: 90%;
  box-shadow: 0 4px 8px 0 rgba(102, 102, 102, 0.2), 0 6px 20px 0 rgba(102, 102, 102, 0.2);
  position: relative;
  top: 0;
  transition: top ease 0.5s;
}

#contact img:hover {
  top: -6px;
}

/* ANIMATIONS */

body {
  animation: fadein 2.7s;
  -moz-animation: fadein 2.7s;
  /* Firefox */
  -webkit-animation: fadein 2.7s;
  /* Safari and Chrome */
  -o-animation: fadein 2.7s;
  /* Opera */
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-o-keyframes fadein {
  /* Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 15px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translatey(-3px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
}

/* END OF ANIMATIONS */

@media only screen and (max-width: 600px) {
  #about-me {
    flex-direction: column;
  }
  #about-me>div {
    max-width: 55%;
    height: auto;
  }
  #introduction {
    font-size: 2em;
  }
  #experience {
    font-size: 2em;
  }
  #name {
    font-size: 5em;
  }
  #sub-name {
    font-size: 3em;
  }
  #two {
    justify-content: space-evenly;
    min-height: 0;
  }
  #first {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #two {
    height: 30vh;
    width: 80vw;
  }
  #heading {
    padding: 5%;
  }
  #profilePic {
    max-width: 60%;
    margin-bottom: 10%;
  }
  #contact img:hover {
    top: 0px;
  }
  #icons img:hover {
    top: 0px;
  }
}