
@import url(https://fonts.googleapis.com/css?family=Montserrat);

body{
 padding:0;
 margin:0;
}  

#main{
    font-family: Montserrat;
}

#top{
    height: auto;
    width: auto;
}

#banner {
    height: 310px;
    width: 100%;
    min-height: 220px;
    background-color:#BFF4FF;
    display: grid;
    justify-content: end;
    align-content: end;
    font-size: 48px;
}
#banner span {
    margin-right: 326px;
}

#profile-picture{
    position: absolute;
    margin-top: 160px;
    margin-left: 90px;
    height: 300px;
    width: 300px;
    border-radius: 50%;
}

#below-banner{
    height: 50vh;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    
}

#below-banner .left{

}

#below-banner .right{
    font-size: 24px;
    margin-top:5px;
}

#projects{
    height: 100vh;
    width:100vw;
    background-color: azure;
}