@import url(https://fonts.googleapis.com/css?family=Raleway);
/* blue: rgb(8, 71, 102); */

/* yella: rgb(121, 113, 93); */

/* purp: rgb(122, 13, 108); */

/* green: rgb(51, 115, 101); */

body, html {
    background-color: rgb(29, 29, 29);
    height: 100vh;
    margin: 0;
    font-size: 1vw;
    font-family: Raleway;
    color: rgb(236, 236, 236);
    --border-colour: rgba(8, 71, 102, 0.591);
}

body {
    display: grid;
    place-items: center center;
}

#content {
    display: none;
}

#welcome {
    font-size: 5em;
}

#first {
    height: 100vh;
    width: 100vw;
    background-image: url("assets/code.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#introduction {
    background-color: rgb(24, 24, 24);
    position: relative;
    height: 10vw;
    width: 70%;
    padding: 1%;
    padding-left: 5%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    right: 3%;
    z-index: 0;
    border-radius: 10px;
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0);
}

#introduction div {
    font-size: 5em;
    font-weight: 800;
}

#introduction span {
    font-size: 2.3em;
}

#second {
    height: auto;
    width: 100vw;
    background-color: rgb(29, 29, 29);
    display: grid;
    grid-template-columns: 1fr 0.70fr;
    box-shadow: inset 0px 0px 25px 15px rgb(24, 24, 24);
}

#second img {
    max-width: 67%;
    border-radius: 50%;
    margin-right: 60px;
    box-shadow: 0 2px 15px 0px rgba(0, 0, 0);
}

#column-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    text-align: justify;
}

#card {
    max-width: 69%;
    border-radius: 3%;
    line-height: 1.5em;
    text-align: center;
    background-color: rgb(24, 24, 24);
    box-shadow: 0 3px 15px 0px rgba(0, 0, 0);
    margin-top: 10%;
    margin-bottom: 10%;
    padding-top: 3%;
    padding-bottom: 3%;
}

#card div {
    text-align: justify;
    padding-left: 2.4%;
    padding-right: 2.4%;
}

#card span {
    display: inline-block;
    font-size: 2em;
    margin-bottom: 3.5%;
}

#card ul {
    padding-left: 5%;
    margin-top: 0;
    list-style-type: circle;
}

#column-2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

#third {
    height: auto;
    width: 100vw;
    background-color: rgb(29, 29, 29);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#third div {
    padding-top: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#third div div {
    margin-bottom: 30%;
    font-size: 1.5em;
    text-align: center;
}

#third div img {
    border-radius: 50%;
    max-width: 100%;
    box-shadow: 0 3px 15px 0px rgb(54, 54, 54);
    position: relative;
    top: 0;
    transition: top ease 0.5s;
}

#third div img:hover {
    top: -6px;
}

#third div a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 35%;
}

#connect-1 {
    background-color: rgb(121, 113, 93);
}

#connect-2 {
    background-color: rgb(122, 13, 108);
}

#connect-3 {
    background-color: rgb(51, 115, 101);
}

#footer {
    height: auto;
    width: 100vw;
    display: grid;
    place-items: center center;
    color: rgba(236, 236, 236, 0.335);
}

#footer div {
    margin-top: 0.75%;
    margin-bottom: 0.75%;
}

#footer a {
    color: rgba(236, 236, 236, 0.335);
    text-decoration: none;
    font-size: 1em;
}

#footer a:hover {
    color: rgb(236, 236, 236);
}

#first1 {
    animation: fadein 2s;
    -moz-animation: fadein 2s;
    -webkit-animation: fadein 2s;
    -o-animation: fadein 2s;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadein {
    /* Firefox */
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {
    /* Safari and Chrome */
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fadein {
    /* Opera */
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media only screen and (max-width: 550px) {
    #first {
        padding-left: 0;
    }
    #introduction {
        height: 35vw;
        width: 100%;
        bottom: 5%;
        right: 0;
        border-radius: 0;
        padding-left: 0;
        align-items: center;
    }
    #introduction div {
        font-size: 9.25em;
    }
    #introduction span {
        font-size: 4.24em;
    }
    #second {
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding-top: 15%;
        padding-bottom: 15%;
        box-shadow: inset 0px 0px 20px 2px rgb(24, 24, 24);
    }
    #second img {
        margin-right: 0;
        max-width: 52%;
    }
    #card {
        font-size: 2.4em;
        margin-bottom: 13%;
        border-radius: 3%;
        margin-top: 0;
        max-width: 85%;
        padding-top: 4%;
        padding-bottom: 4%;
    }
    #card div {
        padding-left: 4.5%;
        padding-right: 4.5%;
    }
    #column-1 {
        height: 55%;
    }
    a {
        width: 55%;
    }
    #third div img {
        box-shadow: 0 2px 5px 0px rgb(54, 54, 54);
    }
    #third div div {
        text-align: center;
        font-size: 2.6em;
    }
    #third div img:hover {
        top: 0px;
    }
    #welcome {
        font-size: 10em;
    }
}